
@import url("https://fonts.googleapis.com/css?family=Poppins");

header{
    font-size: 50px;
    text-align: center;
    

}
a{
    text-decoration: none;
    color: black;
  
}
a:hover{
    color:aqua;

}
a:active{
    color:green
}


body{
    
    font-family: Poppins,sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}
.topbar{
    background-color: red;

}
.Categories{
 
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    
}
.Categories h2{
    text-align: center;
}
.Categories ul{
    padding: 0;
    list-style: 1;
}
.Categories li{
    padding-bottom: 6px;
    display: inline;
    
}
.about{
    background-color: darkred;
    border: 3px solid yellow;
    color: yellow;
}
